# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# AWS credentials (nunca comite isso!)
*.pem
.aws/

# CloudFormation temporary files
*.template.json
*.template.yaml

# Editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak
